* {
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #973101;
    padding: 4px 10px 4px 10px;
    top: 0;
    position: sticky;
    min-height: 70px;
}
.profile{
    display: flex;
    align-items: center;
}

.profile-info h1,
.profile-info p,
.profile-info a {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
    line-height: 1.2;
}

.profile-info h1 {
    font-weight: 600;
}

.profile-img img {
    width: 90px;
    height: 75px;
    border-radius: 50%;
}

.nav-bar{
    display: flex;
    gap: 25px;
    list-style-type: none;
}
.nav-bar a{
    color: #ffffff;
    text-decoration: none;
}
.nav-bar .current{
    color: #f8f7f7;
}
a:hover{
    text-decoration: underline;
}
.socials img{
    width: 60px;
    height: 40px;
}

footer{
    background-color: #973101;
    width: 100%;
    text-align: center;
    color: #fdfcfc;
    font-size: 18px;
    padding: 6px 0;
    position: static;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main, .content-area {
    flex: 1;
}